body{
  text-align: center;
  background-color: #0B4F6C;
}

input {
  padding: 8px;
  border-radius: 2px;
  border-radius: 14%;
  margin: 5px;
}
button{
  border: 5px solid black;
  padding: 8px;
  border-radius: 14%;
  
}
header{
  border: 5px solid black;
}



@media only screen and (min-width: 650px){
.search-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}



.artist-list{
display: flex;
justify-content: space-around;

}


#music-image{
  width: 259px;
    height: 194px;

}
#album-image{
  width: 259px;
    height: 194px;
}

}
