body{
  text-align: center;
  background-color: black; 
}

input {
  padding: 8px;
  border-radius: 2px;
  border-radius: 14%;
  margin: 5px;
}
button{
  border: 5px solid black;
  padding: 8px;
  border-radius: 14%;
  
}
header{
  border: 5px solid black;
  background-image: url('https://cdn.pixabay.com/photo/2017/10/03/17/53/nature-2813487__340.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Georama', sans-serif;
  color: black;
  font-weight: 300;

}

main{
  font-family: 'Georama', sans-serif;
font-family: 'Poppins', sans-serif;
color:black;
font-weight: 150;
background-color:white;
margin: 20px 0px 20px 0px;

}

footer{
  background-color: cornflowerblue;
  height: 100px;
}
.url{
  font-size: 9px;
  align-items: center;
}




@media only screen and (min-width: 650px){
.search-section{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}



.artist-list{
display: flex;
justify-content: space-around;

}


#music-image{
  width: 259px;
    height: 194px;

}
#album-image{
  width: 259px;
    height: 194px;
}

}
